<!DOCTYPE html>
<html>
  <head>
    <title>Angular Customer App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="app">
    <div class="container">
      <menu></menu>
      <div ui-view></div>
    </div>
    <footer>
      <img src="http://www.gonorthdevon.co.uk/images/other/green-arrow.png" alt="">
    </footer>
  </body>
</html>
